    //colors imported from tailwind 
    $color-50: #fafafa;
    $color-100: rgb(245, 245, 245, 1);
    $color-200: #e5e5e5;
    $color-300: #d4d4d4;
    $color-400: #a3a3a3;
    $color-500: #737373;
    $color-600: #525252;
    $color-700: #404040;
    $color-800: #262626;
    $color-900: #171717;
    $color-950: #0a0a0a;
  
    $color-red: #ff4646;
    $color-blue: #3895ff;
    $color-blue-dark: #2666dc;
